<script src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />

<div id="temperature"><%= @val ? @val.temp_f : '100.00' %> F&deg;</div>
<div id="humidity"><%= @val ? @val.humidity : '100.00' %>%</div>

<div id='map' style='width: 400px; height: 300px;'></div>
<script>
  mapboxgl.accessToken = '<%= ENV['mapbox_token'] %>';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9'
  });
</script>.